html{
	background-color: rgb(128, 128, 0);
	font-size: 3em;
}
div.problem-box {
		width : 10rem;
		border : 3px solid;
		background-color: rgb(255,255,255);
}
.problem-box > p {
	text-align: right;
}
input {
	width : 3.5rem;
	text-align: right;
	font-size: 1em;
}

.problem-box table{
	border-bottom: 3px solid;
	text-align: right;
}
td > p {
	margin-block-start: 0;
	margin-block-end: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}
input {
	
}
.problem-box img{
	position: relative;
	z-index:-1;
}